<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ssg.dojangfarm.dao.mybatis.mapper.CommonMapper">
	<cache />
	<insert id="insertCommon" parameterType="Common">
		<selectKey keyProperty="saleNo" resultType="int"
			order="BEFORE">
			SELECT CommonSeq.nextval AS "saleNo" FROM DUAL
		</selectKey>
		INSERT INTO Common
		(saleNo, saleType, title, saleState, info, price,
		userNo,
		deadline, min)
		VALUES
		(#{saleNo}, #{saleType}, #{title},
		#{saleState}, #{info}, #{price},
		#{user.userNo}, #{deadline}, #{min})
	</insert>

	<update id="updateCommon" parameterType="Common">
		UPDATE Common
		SET info =
		#{info}, price = #{price}, deadline = #{deadline}, min = #{min}

	</update>
	<select id="getCommonSale" parameterType="int"
		resultType="Common">
		SELECT
		saleNo, saleType, title, saleState, info, price,
		Common.userNo as "user.userNo", deadline, min
		FROM Common, UserTable
		WHERE saleNo = #{saleNo} 
		AND Common.userNo = UserTable.userNo
	</select>
	<select id="getAllCommonList" resultType="Common">
		SELECT
		saleNo, title,
		UserTable.name as "user.name", deadline
		FROM Common, UserTable
		WHERE
		Common.userNo = UserTable.userNo
		AND saleState = 'OPEN'
	</select>
	<select id="getCommonListByUserNo" resultType="Common">
		SELECT saleNo,
		title, UserTable.name as "user.name", deadline
		From Common, UserTable
		WHERE Common.userNo =
		UserTable.userNo AND Common.userNo=#{userNo}
	</select>
	<select id="searchCommon" resultType="Common">
		SELECT saleNo, title,
		userNo
		FROM Common
		WHERE title LIKE '%' || #{title} || '%'
	</select>
	<insert id="insertCommonjoin" parameterType="CommonJoin">
		<selectKey keyProperty="CJNo" resultType="int"
			order="BEFORE">
			SELECT CommonJoinSeq.nextval as "cjNo" FROM DUAL
		</selectKey>
		INSERT INTO CommonJoin
		(cjNo, userNo, saleNo, cjState, dNo, payNo,
		count)
		VALUES
		(#{cjNo}, #{userNo}, #{saleNo}, wait, null, null)

	</insert>
	<delete id="cancelCommonjoin" parameterType="int">
		DELETE FROM
		CommonJoin
		WHERE cjNo = #{cjNo}
	</delete>
	<update id="updateCommonjoin" parameterType="int">
		UPDATE CommonJoin
		SET count=#{count}
	</update>

	<select id="getCommonJoin" resultType="CommonJoin">
		SELECT (cjNo, userNo,
		saleNo, cjState, dNo, payNo, count)
		FROM CommonJoin
		WHERE cjNo = #{cjNo}
	</select>
	<select id="getCJList" resultType="CommonJoin">
		SELECT(cjNo, saleNo, userNo)
		FROM CommonJoin
		WHERE saleNo = #{saleNo}
	</select>
	<select id="getCJListByUserNo" resultType="CommonJoin">
		SELECT (cjNo, saleNo,
		userNo)
		FROM CommonJoin
		WHERE userNo = #[userNo}]
	</select>

</mapper>