<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ssg.dojangfarm.dao.mybatis.mapper.DeliveryMapper">
	<cache />
	<update id = "changeDeliveryStatus" parameterType = "Delivery">
	UPDATE Delivery
	SET status = '배송중'
	WHERE dNo= #{dNo}
	</update>
	
	<select id = "getDelivery" parameterType = "int" resultType = "Delivery">
	SELECT dNo, status, phone, addrNo as "address.addrNo"
	FROM Delivery
	WHERE dNo = #{dNo}
	</select>
	
	<select id = "getDeliveryListByUserNo" resultType = "Delivery">
	SELECT dNo, status, delivery.phone, 
  delivery.addrNo as "address.addrNo", usertable.userNo
	FROM delivery, address, userTable
	where usertable.userNo = address.userNo
  and delivery.addrNo = address.addrNo
  and usertable.userNo = #{userNo} 
	</select>
	
	<insert id="addDelivery" parameterType="Delivery">
  		<selectKey keyProperty="dNo" resultType="int" order="BEFORE">
        	SELECT DELIVERYSEQ.nextval AS "dNo" FROM DUAL
     	</selectKey>
    	INSERT INTO Delivery 
    		(dNo, addrNo)
    	VALUES 
    		(#{dNo}, #{address.addrNo})
  	</insert>
  	
  	<select id="getLastDNo" resultType="int">
    	SELECT 
    		MAX(dNo)
    	FROM Delivery
  	</select>
</mapper>