<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ssg.dojangfarm.dao.mybatis.mapper.NormalMapper">
	<cache />

	<insert id="insertSale" parameterType="Normal">
		<selectKey keyProperty="saleNo" resultType="int"
			order="BEFORE">
			SELECT NormalSeq.nextval AS "saleNo" FROM DUAL
		</selectKey>
		INSERT INTO Normal
		(saleNo, saleType, title, saleState, info, price,
		count, state, pNo, userNo, regidDate)
		VALUES
		(#{saleNo}, #{saleType},
		#{title}, #{saleState}, #{info}, #{price}, #{count},
		#{state},
		#{product.pNo}, #{user.userNo}, #{regidDate})
	</insert>

	<update id="updateSale" parameterType="Normal">
		UPDATE Normal
		SET info =#{info}, price = #{price}, count = #{count}
		WHERE saleNo = #{saleNo}

	</update>
	<select id="getNormalSale" parameterType="int"
		resultType="Normal">
		SELECT
		saleNo, saleType, title, saleState, info, price,
		count, state, pNo as "product.pNo", Normal.userNo as "user.userNo",
		regidDate, id as "user.id"
		FROM Normal, UserTable
		WHERE saleNo = #{saleNo}
		AND Normal.userNo = UserTable.userNo
	</select>


	<select id="getAllNormalList" resultType="Normal">
		SELECT
		saleNo, title,
		Usertable.name as "user.name", regidDate
		From Normal, UserTable
		WHERE
		Normal.userNo = UserTable.userNo
		AND saleState = 'OPEN'
	</select>

	<select id="getNormalListByUserNo" resultType="Normal">
		SELECT saleNo,
		title, UserTable.name as "user.name", regidDate
		From Normal, UserTable
		WHERE
		Normal.userNo = UserTable.userNo AND Normal.userNo=#{userNo}
	</select>

	<select id="searchNormal" resultType="Normal">
		SELECT saleNo, title,
		userNo
		From Normal
		WHERE title LIKE '%' || #{title} || '%'
	</select>

	<update id="turnSaleState" parameterType="Normal">
		UPDATE Normal
		SET
		saleState = #{param2}
		WHERE saleNo = #{param1}
	</update>

	<select id="getSaleState" resultType = "String">
		SELECT saleState
		FROM Normal
		WHERE saleNo = #{saleNo}
	</select>
	<select id="getUserByNormal" resultType="int">
		SELECT userNo
		FROM Normal
		WHERE saleNo = #{saleNo}
	</select>
	
	<select id = "getProductList" resultType = "Product">
		SELECT pName, pNo
		FROM Product
	</select>
	
	<select id = "getProduct" resultType = "Product">
	SELECT pName, cateNo
	FROM Product
	WHERE pNo = #{pNo}
	</select>
	
	<select id = "getCategoryList" resultType = "Category">
	SELECT cateNo, kind
	FROM Category
	</select>
	
	<select id = "getNormalListByCateNo" resultType = "Normal">
	SELECT
		saleNo, title,
		Usertable.name as "user.name", regidDate
		From Normal, UserTable, Product
		WHERE
		Normal.userNo = UserTable.userNo
		AND saleState = 'OPEN'
		AND normal.pNo = product.pNo and product.cateNo = #{cateNo}
	</select>
</mapper>