 <!-- 
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.dojangfarm.dao.mybatis.mapper.NormalMapper">
<cache/>

 <insert id="insertSale" resultType="int">
 	<selectKey keyProperty="saleNo"  resultType="int" order="BEFORE">
 	SELECT NormalSeq.nextval AS "saleNo" FROM DUAL
 	</selectKey>
 	 INSERT INTO Normal
 	 (saleNo, saleType, title, saleState, info, price, count, state, pNo, userNo, regiDate)
 	 VALUES
 	 (#{saleNo}, #{saleType}, #{title}, #{saleState}, #{info}, #{price}, #{count}, 
 	 #{state}, #{product.pNo}, #{user.userNo}, #{regiDate})
 </insert>

 <update id="updateSale" resultType="int">
 UPDATE Normal
 SET info = #{info}, price = #{price}, count = #{regiDate}
 
 </update>
 <select id="getNormalSale" parameterType="int" resultType="Normal">
 SELECT
 	(saleNo, saleType, title, saleState, info, price, count, state, pNo, userNo, regiDate)
 FROM Normal
 WHERE saleNo = #{saleNo}
 </select>
 

 <select id="getAllNormalList" resultType="Normal">
 SELECT
 saleNo, title, User.userNo, regiDate
 From Normal, User
 WHERE
 Normal.userNo = User.userNo
 </select>
 
 <select id="getNormalListByUserNo" resultType = "Normal">
 SELECT saleNo, title, User.userNo, regiDate
 From Normal, User
 WHERE Normal.userNo = User.userNo AND Normal.userNo=#{userNo}
 </select>
 
 <select id = "searchNormal" resultType = "Normal">
 SELECT saleNo, title, User.userNo, regiDate
 From Normal, User
 WHERE Normal.userNo = User.userNo 
 AND Normal.userNo=#{userNo}
 AND title LIKE '%#{word}%'
 </select>
 <update id ="turnSaleState" resultType = "int">
 UPDATE Normal
 SET saleState = #{saleState}
 </update>
 

</mapper>-->