<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.dojangfarm.dao.mybatis.mapper.QnAMapper">
  <cache />
  	<select id="getQnAList" parameterType="int" resultType="QnA">
    	SELECT 
    		qNo, question, qDate, answer, secret, UserTable.id
    	FROM QnA, Normal, UserTable
    	WHERE 
    		QnA.slaeNo = Normal.saleNo AND 
    		QnA.userNo = User.userNo AND 
    		QnA.saleNo = #{saleNo}
  	</select>
  	
  	<insert id="questionQnA" parameterType="QnA">
  		<selectKey keyProperty="qNo" resultType="int" order="BEFORE">
        	SELECT QnASeq.nextval AS "qNo" FROM DUAL
     	</selectKey>
    	INSERT INTO QnA 
    		(qNo, question, qDate, secret, saleNo, userNo)
    	VALUES 
    		(#{qNo}, #{question}, #{qDate}, #{secret}, #{normal.saleNo}, #{user.userNo})
  	</insert>
  	
  	<update id="answerQnA" parameterType="QnA">
    	UPDATE QnA SET 
    		answer = #{answer}
    	WHERE qNo = #{qNo}
  	</update>
  	
  	<select id="getQnA" parameterType="int" resultType="QnA">
    	SELECT 
    		qNo, question, qDate, answer, secret, UserTable.id
    	FROM QnA, Normal, UserTable
    	WHERE 
    		QnA.slaeNo = Normal.saleNo AND 
    		QnA.userNo = UserTable.userNo AND 
    		QnA.qNo = #{qNo}
  	</select>
 </mapper>